* { 
	margin: 0px; 
	padding: 0px; 
}
body { 
	text-align: center; 
	padding-top:20px; 
	background-image:url("../imgs/old_map.png");
}
#page { 
	width:90%; 
	margin-right: 5%;
	margin-left: 5%; 
	text-align: left; 
}
header {
	font-family:Courier ;
	font-size:1.1em; 
	color: white;
	border-bottom:6px black solid; 
	background-color: #313B44; 
}
h1{
	background-image:url("../imgs/fotomia.png");
	background-repeat:no-repeat;
	background-position:25px center;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:100px;
	padding-right:100px;
}
nav{
	font-family:Courier;
	font-size:1.4em;
	color:silver;
	text-align:center;
	background-image:url("../imgs/red015.jpg");
}

nav ul li{
	padding:80px 0px 0px 0px;
	margin:0px 100px 20px 100px;
	list-style:none;
	display:inline-block;
	text-align:center;
	cursor:default;
}
nav #estudios{
	background-image:url("../imgs/book.png");
	background-repeat:no-repeat;
	background-position:center 10px;
}
nav #conocimientos{
	background-image:url("../imgs/film.png");
	background-repeat:no-repeat;
	background-position:center 10px;
}
nav #contacto{
	background-image:url("../imgs/mail.png");
	background-repeat:no-repeat;
	background-position:center 10px;
}
nav ul li a{
	color:orange;
	text-decoration:none;
}
nav ul li a:hover{
	color:white;
}
.clearfix:before,
.clearfix:after, 
section{
	font-family:verdana;
	font-size:0.8em;
	background-image:url("../imgs/lgrey008.jpg");
	width:100%;
	display:table;

}
article{
	width:25%;
	border:1px;
	border-color:lightgrey;
	border-style:solid;
	background-color:white;
	text-align:center;
	line-height:1.8em;
	padding:5px 5px 22px 5px;
	margin:30px;
	float:left;
}
.article_header{
	border-bottom:1px solid #999999;
}
h2{
	padding:10px;
	font-size:1.2em;
}
footer{
	clear:both;
	color:white;
	font-size:0.7em;
	text-align:center;
	background-color:#313B44;
	border-top:6px solid black;
	padding:15px 0px;
}
